body {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

p {
  font-family: 'Poppins', sans-serif;
  text-shadow: 3px 3px black;
}

h1 {
  text-shadow: 3px 3px white;
}

h2 {
  color: #464866;
  text-shadow: 2px 2px white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-top: -30px;
  height: 0;
}

.about-us-header {
  height: 85vh;
  max-height: 85vh;
  max-width: 100%;
  padding-top: 0.6em;
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  justify-items: center;
  padding-top: 4em;
  background-color: #A9A9A9;
}

.about-us-header h1 {
  color: #25274D;
  font-size: 90px;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  margin: 0;
  height: 0;
}

.about-us-header h2 {
  margin-top: 0;
}

.about-us-header .scroll-anim {
  margin-top: .2em;
  text-align: center;
  background-color: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: "1fr";
      grid-template-columns: "1fr";
  -ms-grid-rows: "1fr 1fr 1fr";
      grid-template-rows: "1fr 1fr 1fr";
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  row-gap: 0em;
}

.about-us-header .scroll-anim .scroll-icon-container {
  font-size: 42px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0;
}

.desc {
  text-align: center;
  font-weight: bold;
  padding: 5em;
  width: auto;
  line-height: 2.7em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.desc h2 {
  margin-bottom: 1.8em;
}

.about-us-intro {
  border: 3px solid black;
  background-color: #25274D;
  color: #A9A9A9;
}

.about-us-intro h2 {
  text-shadow: 2px 2px black;
  color: #A9A9A9;
  margin-top: 0;
}

.about-us-conclusion {
  border: 3px solid white;
  background-color: #A9A9A9;
  color: #464866;
}

.about-us-conclusion p {
  text-shadow: 2px 2px white;
}

.s1 {
  -webkit-animation: fade1 2s infinite;
          animation: fade1 2s infinite;
}

.s2 {
  -webkit-animation: fade2 2s infinite;
          animation: fade2 2s infinite;
}

.s3 {
  -webkit-animation: fade3 2s infinite;
          animation: fade3 2s infinite;
}

@-webkit-keyframes fade1 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade1 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  63% {
    opacity: 0.5;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  63% {
    opacity: 0.5;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade3 {
  0% {
    opacity: 0;
  }
  96% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 0;
  }
  96% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-height: 600px) {
  .about-us-header h2 {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=main.css.map */