@import url("https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap");
body {
  height: 100vh;
  margin: 0px;
  font-family: 'Monda', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: #FFCB9A solid underline;
  text-decoration: #FFCB9A solid underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}

.logo:hover {
  -webkit-text-decoration: #2EB0B4 solid underline;
  text-decoration: #2EB0B4 solid underline;
}

.featured-title:hover {
  -webkit-text-decoration: #FFCB9A solid underline;
  text-decoration: #FFCB9A solid underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}

.right a:hover {
  -webkit-text-decoration: #2EB0B4 solid underline;
  text-decoration: #2EB0B4 solid underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-container {
  z-index: 2;
  background: #2C3531;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 1em;
  height: 3vh;
  width: 100%;
}

.nav-container .logo {
  font-size: 12px;
  color: #2EB0B4;
  font-weight: bold;
  left: 0;
}

.nav-container nav ul {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container nav ul a {
  font-size: 12px;
  color: #FFCB9A;
  display: block;
  padding: 0 0.7em;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "left-pane right-pane";
  grid-column-gap: 0px;
  justify-items: stretch;
  color: white;
  text-align: center;
  padding: 0;
  height: 60%;
  width: 97vw;
  overflow: hidden;
}

.hero h1 {
  background: inherit;
  position: absolute;
  left: -2.7%;
  top: 26%;
  width: 100vw;
  text-align: center;
  z-index: 0;
  font-size: 26px;
}

.hero h1 a {
  color: transparent;
}

.hero #left-pane {
  /*background-image: url("../images/background.jpg");*/
  background-size: 1000px;
  background-color: #2EB0B4;
  background-blend-mode: hue;
  margin: 0;
  height: 100%;
  width: 40vw;
  z-index: -2;
}

.hero #right-pane {
  position: relative;
  margin: 0;
  height: 100%;
  width: 60vw;
  /*background-image: url("../images/background.jpg");*/
  background-size: 1000px;
  background-color: #FFCB9A;
  background-blend-mode: exclusion;
  z-index: -2;
}

.hero .left-overflow {
  /*background-image: url("../images/background.jpg");*/
  background-position-x: center;
  background-size: 500px;
  background-color: #2EB0B4;
  background-blend-mode: hard-light;
  border-radius: 0 15px 15px 0;
  position: absolute;
  top: 18.5%;
  left: 40%;
  width: 12vw;
  height: 5em;
  z-index: -1;
}

.hero #left-overflow-2 {
  top: 36%;
  left: 40%;
}

.hero #right-overflow {
  display: none;
}

section {
  text-align: center;
  padding: 4em 2em;
}

.featured {
  margin-top: 0;
  position: relative;
  padding: 0.5em;
  padding-top: 2em;
}

.featured img {
  width: 16em;
  height: 25em;
  border-radius: 5px;
  border: 3px solid #2EB0B4;
}

.featured::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: #FFCB9A;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
  /*background-image: url("../images/background.jpg");*/
  background-size: 100px;
  background-blend-mode: difference;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #2C3531;
  letter-spacing: .2em;
  font-size: .75em;
}

.featured-title {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  color: #2EB0B4;
}

.featured-desc {
  color: #c38b4b;
  margin-bottom: 3em;
  font-size: .85em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background-color: #2EB0B4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.skills ul li {
  background-color: white;
  padding: 2em 1em;
  padding-bottom: 0.5em;
  border-radius: 10px;
  margin-bottom: 12px;
  text-align: center;
  color: #2C3531;
  width: 15em;
}

.skills ul li img {
  width: 5em;
  height: 5em;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.portfolio img {
  border-radius: 1em;
  margin-bottom: 2em;
  border: 2px solid black;
  width: 45vw;
  height: 25em;
  padding: 5px;
}

#projector-img {
  width: 45vw;
  height: 25em;
}

.subtitle {
  color: #2EB0B4;
}

.portfolio a {
  text-decoration: none;
  color: #c38b4b;
}

.footer {
  background-color: #2C3531;
  color: #2EB0B4;
  width: 100%;
  height: 10em;
}

.footer h1 {
  margin-left: -1em;
  margin-top: -1em;
  font-size: 30px;
}

.footer .contact-container {
  display: -ms-grid;
  display: grid;
  margin-top: 5em;
  margin-left: -4em;
  width: auto;
  -ms-grid-columns: 25% 25%;
      grid-template-columns: 25% 25%;
  -ms-grid-rows: 25%;
      grid-template-rows: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.5em;
          column-gap: 3.5em;
}

.footer .contact-container .icons {
  max-width: 70%;
}

@media only screen and (min-width: 700px) {
  .nav-container {
    width: 96%;
  }
  .hero {
    width: 100%;
  }
  .hero h1 {
    font-size: 30px;
    margin-left: -0.3em;
  }
  .hero .left-overflow {
    width: 3em;
    height: 4em;
  }
  .featured::before {
    width: 15em;
    height: 15em;
    opacity: 0.35;
  }
  .featured, .portfolio {
    text-align: left;
  }
  .featured, .portfolio-container {
    padding: 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .featured img, .portfolio-container img {
    height: 18em;
  }
  .left, .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 1em;
  }
  .right img {
    content: url("../images/desktop-rattle-3.PNG");
    width: auto;
    width: 150%;
    height: 25em;
  }
  .skills {
    margin-top: -3em;
    margin-bottom: -2em;
  }
  .skills-container ul {
    margin-bottom: -5.5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .skills-container ul li {
    width: 10em;
  }
  .portfolio-container img {
    width: 35em;
    height: 20em;
    margin-left: 1em;
    content: url("../images/desktop-planner-2.PNG");
  }
  #projector-img {
    width: inherit;
    height: inherit;
    content: url("../images/desktop-projector-3.PNG");
  }
  .footer {
    height: 12em;
  }
  .footer h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .footer .contact-container {
    margin-top: 6em;
  }
  .footer .icons {
    width: 12em;
  }
}

@media only screen and (min-width: 1050px) {
  .nav-container {
    width: 100%;
  }
  .nav-container .logo {
    font-size: 15px;
    padding-left: 2em;
  }
  .nav-container nav ul {
    padding-right: 2em;
  }
  .nav-container nav ul a {
    margin: 0.8em;
    font-size: 14px;
  }
  .hero {
    height: 100vh;
  }
  .hero #left-pane {
    -webkit-box-shadow: -5px -5px 3px black inset;
            box-shadow: -5px -5px 3px black inset;
    z-index: -1;
  }
  .hero #right-pane {
    -webkit-box-shadow: -5px 5px 3px black;
            box-shadow: -5px 5px 3px black;
    z-index: -3;
  }
  .hero h1 {
    left: -0.7em;
    font-size: 55px;
  }
  .hero .left-overflow {
    z-index: -2;
    top: 31.5%;
    left: 39.5%;
    width: 3.2em;
    border-radius: 0;
    height: 6em;
    -webkit-box-shadow: -5px 5px 3px black;
            box-shadow: -5px 5px 3px black;
  }
  .hero #right-overflow {
    position: absolute;
    display: block;
    top: 70%;
    width: 2em;
    border-radius: 0;
    z-index: 1;
    height: 7em;
    background-color: #FFCB9A;
    left: 38%;
    -webkit-box-shadow: 5px 5px 3px black inset;
            box-shadow: 5px 5px 3px black inset;
    -webkit-box-shadow: -1.9px 5px 3px black;
            box-shadow: -1.9px 5px 3px black;
  }
  .hero #right-overflow .scroll-icon-container {
    color: #2EB0B4;
    font-size: 2.3em;
    margin: -30px;
    position: relative;
    top: 25px;
    left: 0.45em;
  }
  .hero #left-overflow-2 {
    display: block;
    left: 38%;
    top: 31.5%;
    position: absolute;
    z-index: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .featured::before {
    width: 250px;
    height: 250px;
  }
  .right img {
    width: 36em;
    height: 22em;
    float: right;
    content: url("../images/desktop-rattle-6.PNG");
    margin-left: -6.5em;
  }
  .left {
    padding-left: 2em;
    padding-top: 4.5em;
    margin-top: -4em;
    width: 80%;
  }
  .left a {
    font-size: 25px;
  }
  .left .featured-desc {
    font-size: 16px;
  }
  .skills {
    margin-top: -2em;
    margin-bottom: 0em;
  }
  .skills-container ul {
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }
  .skills-container ul li {
    width: 15em;
    height: 25em;
  }
  .skills-container ul li img {
    width: 8em;
    height: 8em;
  }
  .skills-container ul li .skill-title {
    font-size: 18px;
  }
  .skills-container ul li .skill-desc {
    font-size: 14px;
  }
  .portfolio-container img {
    width: 34em;
  }
  .portfolio-container #projector-img {
    width: 34em;
    content: url("../images/desktop-projector-4.PNG");
  }
  .subtitle {
    font-size: 14px;
  }
  .featured-title {
    font-size: 30px;
  }
  .featured-desc {
    font-size: 14px;
  }
  .footer {
    height: 10em;
    position: absolute;
  }
  .footer h1 {
    font-size: 35px;
    margin-bottom: 0;
  }
  .footer .contact-container {
    margin-top: 5em;
    -webkit-column-gap: 0.2em;
            column-gap: 0.2em;
    -ms-grid-rows: 15%;
        grid-template-rows: 15%;
  }
  .footer .contact-container .icons {
    width: 7em;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-container .logo {
    padding-left: 6em;
  }
  section {
    padding: 4em;
  }
  .hero #right-overflow {
    left: 38.5%;
  }
  .hero h1 {
    left: 0.7em;
  }
  .right img {
    width: 100%;
    height: 27em;
    margin-bottom: 2em;
    float: right;
  }
  .portfolio-container img {
    width: 100%;
    height: 25em;
  }
  .portfolio-container #projector-img {
    width: 100%;
    height: inherit;
  }
  .skills ul li {
    padding: 3em;
    margin-right: 3em;
    margin-left: 3em;
  }
  .skills ul li img {
    width: 10em;
    height: 10em;
  }
  .skills ul li .skill-title {
    font-size: 20px;
  }
  .skills ul li .skill-desc {
    font-size: 16px;
  }
  .contact-container {
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }
}

@media only screen and (min-width: 1500px) {
  .nav-container nav ul a {
    margin-right: 2em;
    font-size: 18px;
  }
  .nav-container .logo {
    font-size: 18px;
  }
  .hero #right-overflow {
    left: 38.7%;
  }
  .hero h1 {
    left: 0em;
    font-size: 68px;
  }
  .right img {
    width: 90%;
    height: 35em;
  }
  .portfolio-container img {
    height: 30em;
    width: 77%;
    float: right;
    margin-left: 15em;
  }
  .portfolio-container #projector-img {
    width: 77%;
    height: 34em;
  }
}

.s1 {
  -webkit-animation: fade1 2s infinite;
          animation: fade1 2s infinite;
}

.s2 {
  -webkit-animation: fade2 2s infinite;
          animation: fade2 2s infinite;
}

.s3 {
  -webkit-animation: fade3 2s infinite;
          animation: fade3 2s infinite;
}

@-webkit-keyframes fade1 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade1 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  63% {
    opacity: 0.5;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  63% {
    opacity: 0.5;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade3 {
  0% {
    opacity: 0;
  }
  96% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 0;
  }
  96% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#left-pane, .left-overflow {
  -webkit-animation: slide-right 3s 1;
          animation: slide-right 3s 1;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translate(-40vw, 0);
            transform: translate(-40vw, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translate(-40vw, 0);
            transform: translate(-40vw, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

#right-pane, #right-overflow {
  -webkit-animation: slide-left 3s 1;
          animation: slide-left 3s 1;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translate(60vw, 0);
            transform: translate(60vw, 0);
  }
  100% {
    -webkit-transform: translate(0vw, 0);
            transform: translate(0vw, 0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translate(60vw, 0);
            transform: translate(60vw, 0);
  }
  100% {
    -webkit-transform: translate(0vw, 0);
            transform: translate(0vw, 0);
  }
}
/*# sourceMappingURL=main.css.map */