@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');
$blue: #2EB0B4;
body {
    height: 100vh;
    margin: 0px;
    font-family: 'Monda', sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
a:hover {
    -webkit-text-decoration:#FFCB9A solid underline;
    text-decoration:#FFCB9A solid underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
    -webkit-text-underline-position: under;
    text-underline-position: under;
}
.logo:hover {
    -webkit-text-decoration:$blue solid underline;
    text-decoration:$blue solid underline;
}
.featured-title:hover {
    -webkit-text-decoration:#FFCB9A solid underline;
    text-decoration:#FFCB9A solid underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
    -webkit-text-underline-position: under;
    text-underline-position: under;
}
.right a:hover {
    -webkit-text-decoration:$blue solid underline;
    text-decoration:$blue solid underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
    -webkit-text-underline-position: under;
    text-underline-position: under;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-container {
    z-index: 2;
    background: #2C3531;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
    height: 3vh;
    width: 100%;

    .logo {
        font-size: 12px;
        color: $blue;
        font-weight: bold;
        left: 0;
    }
     
    nav {
        ul {
            z-index: 0;
            display: flex;
            margin-right: 15px;
            align-items: center;
            a {
                font-size: 12px;
                color: #FFCB9A;
                display: block;
                padding: 0 0.7em;
            }
        }
    }
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left-pane right-pane";
    grid-column-gap: 0px;;
    justify-items: stretch;
    color: white;
    text-align: center;
    padding: 0;
    height: 60%;
    width: 97vw;
    overflow: hidden;
    h1 {
        background: inherit;
        position: absolute;
        left: -2.7%;
        top: 26%;
        width: 100vw;
        text-align: center;
        z-index: 0;
        font-size: 26px;
        a {
            color: transparent;
        }
    }
    #left-pane {
        /*background-image: url("../images/background.jpg");*/
        background-size: 1000px; 
        background-color: $blue;
        background-blend-mode: hue;
        margin: 0;
        height: 100%;
        width: 40vw;
        z-index: -2;
    }
    #right-pane {
        position: relative;
        margin: 0;
        height: 100%;
        width: 60vw;
        /*background-image: url("../images/background.jpg");*/
        background-size: 1000px;       
        background-color: #FFCB9A;
        background-blend-mode:exclusion;
        z-index: -2;
    }
    .left-overflow {
        /*background-image: url("../images/background.jpg");*/
        background-position-x: center;
        background-size: 500px; 
        background-color: $blue;
        background-blend-mode:hard-light;
        border-radius: 0 15px 15px 0;
        position: absolute;
        top: 18.5%;
        left: 40%;
        width: 12vw;
        height: 5em;
        z-index: -1;
    }
    #left-overflow-2 {
        top: 36%;
        left: 40%;
    }
    #right-overflow {
        display: none;
    }
}

section {
    text-align: center;
    padding: 4em 2em;
}

.featured {
    margin-top: 0;
    position: relative;
    padding: 0.5em;
    padding-top: 2em;
    img {
        width: 16em;
        height: 25em;
        border-radius: 5px;
        border: 3px solid $blue;
    }
}
.featured::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #FFCB9A;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
    /*background-image: url("../images/background.jpg");*/
    background-size: 100px;
    background-blend-mode:difference;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #2C3531;
    letter-spacing: .2em;
    font-size: .75em;
}

.featured-title {
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    color: $blue;
}

.featured-desc {
    color:#c38b4b;
    margin-bottom: 3em;
    font-size: .85em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    background-color: $blue;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}
.skills ul li {
    background-color: white;
    padding: 2em 1em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    margin-bottom: 12px;
    text-align: center;
    color: #2C3531;
    width: 15em;
    img {
        width: 5em;
        height: 5em;
        display: grid;
        place-content: center;
        margin: 0 auto;
    }
}

.portfolio img{
    border-radius: 1em;
    margin-bottom: 2em;
    border: 2px solid black;
    width: 45vw;
    height: 25em;
    padding: 5px;
}
#projector-img {
    width: 45vw;
    height: 25em;
}
.subtitle {
    color: $blue;
}
.portfolio a {
    text-decoration: none;
    color:#c38b4b;

}
.footer {
    background-color:#2C3531;
    color: $blue;
    width: 100%;
    height: 10em;
    h1 {
        margin-left: -1em;
        margin-top: -1em;
        font-size: 30px;
    }
    .contact-container {
        display: grid;
        margin-top: 5em;
        margin-left: -4em;
        width: auto;
        grid-template-columns: 25% 25%;
        grid-template-rows: 25%;
        justify-content: center;
        align-items: center;
        column-gap: 3.5em;
        .icons {
            max-width: 70%;
        }
    }
}
@media only screen and (min-width: 700px) {
    .nav-container {
        width: 96%;
    }
    .hero {
        width: 100%;
        h1 {
            font-size: 30px;
            margin-left: -0.3em;
        }
        .left-overflow {
            width: 3em;
            height: 4em;
        }
    }
    .featured::before {
        width: 15em;
        height: 15em;
        opacity: 0.35;
    }
    .featured, .portfolio {
        text-align: left;
    }
    .featured, .portfolio-container {
        padding: 2em;
        display: grid;
        grid-template-columns: 40% auto;
        img {
            height: 18em;
        }
    }
    .left, .portfolio-left {
        display: grid;
        place-content: center;
    }
    .right {
        margin-left: 1em;
        img {
            content:url("../images/desktop-rattle-3.PNG");
            width: auto;
            width: 150%;
            height: 25em;
        }
    }
    .skills {
        margin-top: -3em;
        margin-bottom: -2em;
    }
    .skills-container ul {
        margin-bottom: -5.5em;
        li {
            width: 10em;
        }
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }
    .portfolio-container img {
        width: 35em;
        height: 20em;
        margin-left: 1em;
        content:url("../images/desktop-planner-2.PNG");
    }
    #projector-img {
        width: inherit;
        height: inherit;
        content:url("../images/desktop-projector-3.PNG");
    }
    .footer {
        height: 12em;
        h1 {
            font-size: 30px;
            margin-bottom: 0;
        }
        .contact-container {
            margin-top: 6em;
        }
        .icons {
            width: 12em;
            
        }
    }
}
@media only screen and (min-width: 1050px) {
    .nav-container {
        width: 100%;
        .logo {
            font-size: 15px;
            padding-left: 2em;
        }
        nav {
            ul {
                padding-right: 2em;
                a {
                    margin: 0.8em;
                    font-size: 14px;
                }
            }
        }
    }
    .hero {
        height: 100vh;
        #left-pane {
            box-shadow: -5px -5px 3px black inset;
            z-index: -1;
        }
        #right-pane {
            box-shadow: -5px 5px 3px black;
            z-index: -3;
        }
        h1 {
            left: -0.7em;
            font-size: 55px;
        }
        .left-overflow {
            z-index: -2;
            top: 31.5%;
            left: 39.5%;
            width: 3.2em;
            border-radius: 0;
            height: 6em;
            box-shadow: -5px 5px 3px black;
        }
        #right-overflow {
            position: absolute;
            display: block;
            top: 70%;
            width: 2em;
            border-radius: 0;
            z-index: 1;
            height: 7em;
            background-color: #FFCB9A;
            left: 38%;
            box-shadow: 5px 5px 3px black inset;
            box-shadow: -1.9px 5px 3px black;
            .scroll-icon-container {
                color: $blue;
                font-size: 2.3em;
                margin: -30px;
                position: relative;
                top: 25px;
                left: 0.45em;
            }
        }
        #left-overflow-2 {
            display: block;
            left: 38%;
            top: 31.5%;
            position: absolute;
            z-index: 0;
            box-shadow: none;

        }
    }
    .featured::before {
        width: 250px;
        height: 250px;
    }
    .right img {
        width: 36em;
        height: 22em;
        float: right;
        content: url("../images/desktop-rattle-6.PNG");
        margin-left: -6.5em;
    }
    .left {
        padding-left: 2em;
        padding-top: 4.5em;
        margin-top: -4em;
        width: 80%;
        a {
            font-size: 25px;
        }
        .featured-desc {
            font-size: 16px;
        }
    }
    .skills {
        margin-top: -2em;
        margin-bottom: 0em;
    }
    .skills-container ul {
        column-gap: 2em;
        li {
            width: 15em;
            height: 25em;
            img {
                width: 8em;
                height: 8em;
            }
            .skill-title {
                font-size: 18px;
            }
            .skill-desc {
                font-size: 14px;
            }
        }
    }

    .portfolio-container {

        img {
            width: 34em;
        }
        #projector-img {
            width: 34em;
            content:url("../images/desktop-projector-4.PNG")
        }
    }
    .subtitle {
        font-size: 14px;
    }
    .featured-title {
        font-size: 30px;
    }
    .featured-desc {
        font-size: 14px;
    }
    .footer {
        height: 10em;
        position: absolute;
        
        h1 {
            font-size: 35px;
            margin-bottom: 0;
        }
        .contact-container {
            margin-top: 5em;
            column-gap: 0.2em;
            grid-template-rows: 15%;
            .icons {
                width: 7em;
            }
        }
    }
}

@media only screen and (min-width: 1250px) {
    .nav-container {
        .logo {
            padding-left: 6em;
        }
    }
    section {
        padding: 4em;
    }
    .hero {
        #right-overflow {
            left: 38.5%
        }
        h1 {
            left: 0.7em;
        }
    }
    .right img {
        width: 100%;
        height: 27em;
        margin-bottom: 2em;
        float: right;
    }
    .portfolio-container {

        img {
            width: 100%;
            height: 25em;
        }
        #projector-img {
            width: 100%;
            height: inherit;
        }
    }
    .skills ul {
        li {
            img {
                width: 10em;
                height: 10em;
            }
            padding: 3em;
            margin-right: 3em;
            margin-left: 3em;
            .skill-title {
                font-size: 20px;
            }
            .skill-desc {
                font-size: 16px;
            }
        }
    }
    .contact-container {
        column-gap: 2em;
    }
}
@media only screen and (min-width: 1500px) {
    .nav-container {
        nav ul a {
            margin-right: 2em;
            font-size: 18px;
        }
        .logo {
            font-size: 18px;
        }
    }
    .hero #right-overflow {
        left: 38.7%;
    }
    .hero h1 {
        left: 0em;
        font-size: 68px;
    }
    .right img {
        width: 90%;
        height: 35em;
    }
    .portfolio-container {
        img {
            height: 30em;
            width: 77%; 
            float: right;
            margin-left: 15em;
        }
        #projector-img {
            width: 77%;
            height: 34em;
        }
    }
}

.s1 {
    animation: fade1 2s infinite;
}
.s2 {
    animation: fade2 2s infinite; 
}
.s3 {
    animation: fade3 2s infinite;
}

@keyframes fade1 {
    0% {opacity: 1}
    30% {opacity: 0.5}
    60% {opacity: 0}
    100% {opacity: 0}
}
@keyframes fade2 {
    0% {opacity: 0}
    30% {opacity: 1}
    63% {opacity: 0.5}
    96% {opacity: 0}
    100% {opacity: 0}
}
@keyframes fade3 {
    0% {opacity: 0}
    96% {opacity: 1}
    99% {opacity: 0}
    100% {opacity: 0}
}

#left-pane, .left-overflow {
    animation: slide-right 3s 1;
}

@keyframes slide-right {
    0% {
        transform: translate(-40vw, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

#right-pane, #right-overflow {
    animation: slide-left 3s 1;
}

@keyframes slide-left {
    0% {
        transform: translate(60vw, 0);
    } 100% {
        transform: translate(0vw, 0);
    }
}
